@import url('https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;500;600;700;800;900&family=Karla:wght@800&display=swap');
body {
    margin: 0;
    position: absolute;
    width: 550px;
    height: 550px;
    left: 642px;
    top: 64px;
    background-color: #1F2937;
}



.container {position: absolute;
    width: 550px;
    height: 550px;
    left: 62px;
    top: 64px;
    
    background: #1F2937;
}

.container h1 {
    position: absolute;
    width: 354px;
    height: 80px;
    left: 52px;
    top: 115px;
    
    font-family: 'Karla';
    font-style: normal;
    font-weight: 800;
    font-size: 40px;
    line-height: 40px;
    /* or 100% */
    
    letter-spacing: -0.025em;
    
    /* white */
    
    color: #FFFFFF;
}

#next{
    color: #4ADF86;
    display: block;
}


.container h3 {
    position: absolute;
width: 372px;
height: 28px;
left: 52px;
top: 205px;

/* text-xl/leading-7/font-normal */

font-family: 'Inter';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 28px;
/* identical to box height, or 140% */


/* Medium grey */

color: #D5D4D8;

}

button {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 9px 17px 9px 15px;
    gap: 12px;
    
    position: absolute;
    width: 191px;
    height: 42px;
    left: 52px;
    top: 284px;
    
    background: #10B981;
    /* shadow/sm */
    
    box-shadow: 0px 1px 2px rgba(0, 0, 0, 0.05);
    border-radius: 6px;
}

#gen {
    width: 159px;
height: 24px;

/* text-base/leading-6/font-medium */

font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 24px;
/* identical to box height, or 150% */


/* white */

color: #FFFFFF;
}


hr {
    position: absolute;
    width: 446px;
    height: 0px;
    left: 52px;
    top: 361px;

    border: 1px solid #2F3E53;
}


.passwordbox1{
    position: absolute;
width: 211px;
height: 39px;
left: 52px;
top: 396px;

background: #273549;
border-radius: 6px;
}

.passwordbox2{
    position: absolute;
width: 211px;
height: 39px;
left: 287px;
top: 396px;

background: #273549;
border-radius: 6px;
}

#random-password-1{
font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

text-align: center;

color: #55F991;
}

.random-password-1{
    position: absolute;
width: 180px;
height: 32px;
left: 67px;
top: 396px;
}

.random-password-2{
    position: absolute;
width: 192px;
height: 32px;
left: 297px;
top: 396px;
}

#random-password-2{
    font-family: 'Inter';
font-style: normal;
font-weight: 500;
font-size: 16px;
line-height: 32px;
/* identical to box height, or 200% */

text-align: center;

color: #55F991;
}